@media (min-width: 400px) {}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}

@media (max-height: 500px) {
    .sidebar {
        padding: 10px 0 40px;
    }

    #boxShowSettings {
        top: 0px;
    }

    .score h2,
    .score h2 span {
        font-size: 17px;
    }

}

@media screen and (orientation: landscape) {
    .parentHorizontal {
        display: none;
    }
}