:root {
    --textColor: #000000;
    --colorBall: green;
    --colorTail: #ccc;
    --colorHead: #929292;
}

* {
    font-family: Arial;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #505050;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

/* Utility Clasess */
.activeButton:active {
    transform: scale(.96);
}

/* Utility Clasess */

.container {
    display: flex;
    height: 100vh;
}

/* sidebar */

.sidebar {
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0 80px;
    width: 15%;
    min-width: 133px;
}

/* show Button */

.parentShow {
    width: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    position: relative;
}

.parentShow>button {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 22px;
}

.parentShow>button i {
    color: var(--textColor);
}

#boxShowSettings {
    background-color: #cacaca;
    width: 250px;
    height: calc(100vh - 40px);
    position: absolute;
    top: -10px;
    left: 0;
    z-index: 5;
    transform: translateX(-120%);
    transition: all .5s;
}

.thisBoxShow {
    transform: translateX(0) !important;
}

.closeBox {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px;
}

.closeBox button {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    width: 25px;
    height: 25px;
}

.closeBox button i {
    color: var(--textColor);
}

/* form */

.parentBoxesSettings {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    height: calc((100vh - 42px) - 55px);
    padding-bottom: 20px;
}

.boxChooseColor {
    padding: 10px;
    display: grid;
    row-gap: 10px;
    max-width: 205px;
}

.boxChooseColor label,
.boxChooseSpeed label,
.boxChooseSong label {
    color: var(--textColor);
}

.chooseColor {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
}

.chooseColor input[type=color] {
    padding: 0 20px;
    margin-right: 3px;
    width: 90px;
    height: 25px;
    background-color: #969696;
    cursor: pointer;
}

.chooseColor input[type=button],
.chooseSpeed input[type=button] {
    width: 90px;
    height: 25px;
    background-color: #969696;
    color: var(--textColor);
    cursor: pointer;
}

.boxChooseBoard {
    display: flex;
    align-items: center;
    padding: 10px;
    max-width: 205px;
    color: var(--textColor);
}

.boxChooseBoard input[type=checkbox] {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.boxChooseBoard label {
    cursor: pointer;
}

.boxChooseSpeed {
    width: 100%;
    padding: 10px;
    display: grid;
    row-gap: 5px;
    max-width: 205px;
}

.chooseSpeed {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    row-gap: 6px;
}

.boxChooseSpeed input[type=range] {
    width: 100%;
}

.boxChooseSong {
    padding: 10px;
    max-width: 205px;
    /* display: grid;
    row-gap: 10px; */
}

.boxChooseSong label{
    display: inline-block;
    margin-bottom: 10px;
}

.parentAnglesGSongs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.chooseSong {
    width: calc(205px - 20px);
    display: flex;
    flex-wrap: nowrap;
    column-gap: 15px;
    overflow-x: auto;
    scroll-behavior: smooth;
    /* border: 1px solid; */
    padding: 10px 14px;
}

.chooseSong::-webkit-scrollbar {
    display: none;
}

.chooseSong i {
    cursor: pointer;
    font-size: 25px;
    color: var(--textColor);
}

.parentAnglesGSongs button {
    height: 100%;
    width: 14px;
    position: absolute;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}

#angleLeft {
    left: 0;
}

#angleRight {
    right: 0;
}

.noneSong {
    display: none;
}

.controlAudios {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--textColor);
    border-top: 1px solid var(--textColor);
    padding: 5px 0;
}

.controlAudios i {
    cursor: pointer;
    font-size: 20px;
    color: var(--textColor);
}

/* score */

.score {
    padding: 0 10px;
    text-align: center;
}

.score h2 {
    line-height: 30px;
    color: var(--textColor);
}

.score h2 span {
    font-size: 25px;
    font-weight: bold;
    color: var(--textColor);
}

/* buttons */

.containerBtn {
    width: 100%;
    display: grid;
    place-content: center;
}

#parentBtn {
    width: 80px;
    height: 80px;
    position: relative;
}

.btn {
    padding: 10px;
    font-size: 18px;
    background-color: #000;
    color: #fff;
    box-shadow: 4px 4px 6px -2px #969696;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    position: absolute;
    transform: translate(-50%, -50%);

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    touch-action: manipulation;
    -webkit-touch-callout: none;
}

#rightBtn {
    top: 50%;
    left: 100%;
}

#leftBtn {
    top: 50%;
    left: 0%;
}

#topBtn {
    top: 0%;
    left: 50%;
}

#bottomBtn {
    top: 100%;
    left: 50%;
}

.btn:active {
    transform: translate(-50%, -50%) scale(.95);
}

/* boxes */

#parentBox {
    border: 2px solid white;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    place-items: center;
    width: 100%;
    margin: auto;
}

.box {
    width: 100%;
    height: 100%;
    border: none;
    display: grid;
    place-items: center;
}

.boxBorderClick {
    border: 1px solid black;
}

.ball {
    border-radius: 50%;
    background-color: var(--colorBall);
    width: 80%;
    height: 80%;
    transition: all .7s;
}

.tail {
    width: 110%;
    height: 110%;
    background-color: var(--colorTail);
    transition: all .2s;
    border-radius: 50%;
    z-index: 1;
}

.head {
    width: 120%;
    height: 120%;
    background-color: var(--colorHead);
    border-radius: 50%;
    z-index: 2;
}

/* horizontal */

.parentHorizontal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.horizontal {
    width: 50%;
    height: 50%;
    background-color: rgba(204, 204, 204, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 0;
    row-gap: 20px;
    min-width: 280px;
}

.horizontal h2 {
    text-align: center;
    font-size: clamp(18px, 5vw, 22px);
}