:root {
    --textColor: #000000;
    --colorBall: green;
    --colorTail: #ccc;
    --colorHead: #929292;
}

* {
    font-family: Arial;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #505050;
    /* overflow: hidden; */
}

/* Utility Clasess */
.activeButton:active{
    transform: scale(.96);
}
/* Utility Clasess */

.container {
    display: grid;
    grid-template-columns: 15% 85%;
    /* border: 10px solid; */
    height: 100vh;
    /* flex-direction: column; */
    /* column-gap: 10px; */
    /* padding-top: 10px; */
}

/* sidebar */

.sidebar {
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0 80px;
    /* width: 100%; */
    /* order: 2; */
}

/* show Button */

.parentShow{
    width: 100%;
    /* height: 30px; */
    padding: 0 10px;
    /* margin-top: 20px; */
    display: flex;
    align-items: center;
    column-gap: 10px;
    position: relative;
}

#btnShowSettings{
    width: 100%;
    /* height: 100%; */
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 22px;
}

#boxShowSettings{
    background-color: #a1b181;
    width: 250px;
    height: calc(100vh - 42px);
    position: absolute;
    top: -10px;
    left: 0;
    z-index: 2;
    transform: translateX(-120%);
    transition: all .5s;
}

.thisBoxShow{
    transform: translateX(0) !important;
}

.closeBox{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px;
}

.closeBox button{
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
    font-size: 22px;
}

/* form */

.settings {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
    color: var(--textColor);
    border-bottom: 1px solid #aeaeae;
    padding: 20px 0;
    cursor: pointer;
}

.settings i:nth-of-type(odd){
    transition: transform 1s;
}

.settingsRotateClick{
    transform: rotate(180deg);
}

.parentBoxesSettings {
    border-bottom: 1px solid #aeaeae;
    padding-bottom: 20px;
    overflow: hidden;
    height: 452px;
    transition: all 1s;
}

.settingsHeightClick {
    height: 0 !important;
    padding-bottom: 0 !important;
    border-bottom: none !important;
}

.parentChooseColor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 2px;
    justify-items: center;
}

.boxChooseColor {
    padding: 10px;
    display: grid;
    row-gap: 10px;
}

.boxChooseColor label {
    color: var(--textColor);
}

.chooseColor {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
}

.chooseColor input[type=color] {
    padding: 0 20px;
    margin-right: 3px;
    width: 90px;
    height: 25px;
    background-color: #969696;
    cursor: pointer;
}

.chooseColor input[type=button] {
    width: 90px;
    height: 25px;
    background-color: #969696;
    color: var(--textColor);
    cursor: pointer;
}

.boxChooseBoard {
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: var(--textColor);
}

.boxChooseBoard input[type=checkbox] {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    cursor: pointer;
}

.boxChooseBoard label{
    cursor: pointer;
}

/* score */

.score {
    /* border-bottom: 1px solid #aeaeae; */
    padding: 0 10px;
    text-align: center;
}

.score h2 {
    line-height: 30px;
    color: var(--textColor);
}

.score h2 span {
    font-size: 25px;
    font-weight: bold;
    color: var(--textColor);
}

/* buttons */

.containerBtn {
    /* height: 250px; */
    /* padding: 65px; */
    /* height: 200px; */
    width: 100%;
    display: grid;
    place-content: center;
}

#parentBtn {
    width: 80px;
    height: 80px;
    position: relative;
    /* border: 1px solid red; */
    /* margin: 30px auto; */
}

.btn {
    padding: 10px;
    font-size: 18px;
    background-color: #000;
    color: #fff;
    box-shadow: 4px 4px 6px -2px #969696;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    position: absolute;
    transform: translate(-50%, -50%);

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    touch-action: manipulation;
    -webkit-touch-callout: none;
}

#rightBtn {
    top: 50%;
    left: 100%;
}

#leftBtn {
    top: 50%;
    left: 0%;
}

#topBtn {
    top: 0%;
    left: 50%;
}

#bottomBtn {
    top: 100%;
    left: 50%;
}

.btn:active {
    transform: translate(-50%, -50%) scale(.95);
}

/* boxes */

.containerBoxes {
    /* margin: 0 auto; */
    /* width: 100%; */
    /* order: 1; */
}

#parentBox {
    border: 2px solid white;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    padding: 10px;
    /* width: 100%; */
    /* height: calc(100vw / 20); */
}

.box {
    width: calc(100vw / 25.5);
    height: calc(100vw / 25.5);
    border: none;
    display: grid;
    place-items: center;
}

.boxBorderClick{
    border: 1px solid black;
}

.ball {
    border-radius: 50%;
    background-color:var(--colorBall);
    width: 80%;
    height: 80%;
    transition: all .7s;
}

.tail {
    width: 110%;
    height: 110%;
    background-color: var(--colorTail);
    transition: all .2s;
    border-radius: 50%;
}

.head {
    width: 120%;
    height: 120%;
    background-color: var(--colorHead);
    border-radius: 50%;
    z-index: 1;
}